@media only screen and (max-width: 600px) {
    .container1 {
        font-size: 10px;
    }
    table.table {
        font-size: 10px;
    }
    .addbutton {
        width: 50px;
        height: 20px;
        font-size: 10px;
    }
    .deletbutton {
        width: 50px;
        height: 20px;
        font-size: 10px;
    }
    .editbutton {
        width: 50px;
        height: 20px;
        font-size: 10px;
    }
    .searchbutton {
        width: 50px;
        height: 20px;
        font-size: 10px;
    }
    .searchbox {
        width: 100px;
        height: 20px;
        font-size: 10px;
    }
    .backbutton {
        width: 50px;
        height: 20px;
        font-size: 10px;
    }
    textarea.message {
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 601px) {
    .container1 {
        font-size: 20px;
    }
    table.table {
        font-size: 20px;
    }
    .addbutton {
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .deletbutton {
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .editbutton {
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .searchbutton {
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    .searchbox {
        width: 200px;
        height: 40px;
        font-size: 20px;
    }
    .backbutton {
        width: 100px;
        height: 40px;
        font-size: 20px;
    }
    textarea.message {
        max-width: 100%;
        height: auto;
    }
}

.backbutton {
    background-color: rgb(152, 152, 152);
    border: none;
    color: white;
    border-radius: 5px;
}
.backbutton:hover {
    background-color: gray;
}

.addbutton {
    background-color: rgb(0, 190, 0);
    border: none;
    color: white;
    border-radius: 5px;
}
.addbutton:hover {
    background-color: rgb(0, 160, 0);
}

.deletbutton {
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
}
.deletbutton:hover {
    background-color: rgb(216, 3, 3);
}

.editbutton {
    background-color: rgb(0, 190, 0);
    border: none;
    color: white;
    border-radius: 5px;
}
.editbutton:hover {
    background-color: rgb(0, 160, 0);
}

.menubutton {
    background: none;
    border: none;
    border-radius: 5px;
}
.menubutton:hover {
    background-color: rgb(219, 219, 219);
}

.searchbutton {
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: 5px;
}
.searchbox {
    border-radius: 5px;
}

.name {
    background: none;
    border: none;
    border-radius: 5px;
}
.name:hover {
    background-color: rgb(219, 219, 219);
}

img {
    max-width: 100%;
    height: auto;
}

.jumbotron1 {
    .container {
        background-color: rgb(226, 226, 226);
    }
}

.tablename {
    background-color: black;
    color: white;
}
.tablecontent {
    background-color: white;
}